<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSBackgroundColorName</key>
			<string>background</string>
			<key>NSBackgroundSystemColorName</key>
			<string>systemGreenColor</string>
			<key>NSIconName</key>
			<string>NSTouchBarDocuments</string>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>pdf_4in1</string>
			</dict>
			<key>NSMessage</key>
			<string>runWorkflowAsService</string>
			<key>NSSendFileTypes</key>
			<array>
				<string>com.adobe.pdf</string>
				<string>com.microsoft.word.doc</string>
				<string>org.openxmlformats.wordprocessingml.document</string>
				<string>com.microsoft.powerpoint.ppt</string>
				<string>org.openxmlformats.presentationml.presentation</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
